<div class="sample08">
<h1>Edit Note contents</h1>
</div>

<%= render 'form', note: @note %>

<%= link_to '詳細', @note, class: "btn-flat-border" %> |
<%= link_to 'ノート一覧', notes_path, class: "btn-flat-border" %>
