<div class="sample08">
<h1>グループ内容編集</h1>
</div>

<%= render 'form', group: @group %>

<%= link_to '詳細', @group, class: "btn-flat-border" %> |
<%= link_to 'グループ一覧', groups_path, class: "btn-flat-border" %>
