<h1>チャットルーム</h1>

<ul id="messages">
</ul>

<form>
     <label>投稿内容: <input type="text" data-behavior="chat_input">
           <input type="submit" value="投稿する" onClick="postMessage()"/>
     </label>
</form>

<ul id="messages">
</ul>
