<h1>チャットルーム</h1>

  <div id="target" class="line__container">
        <div id="messages" class="line__contents scroll"></div>  
  </div>
  <form>  
      <label>投稿内容: </label>
      <input type="text" data-behavior="chat_input" id="chat_input"/>
      <input type="hidden" value="<%= @group_id %>" id="group_id"/>
      <input type="hidden" value="<%= @user_id %>" id="user_id"/>
      <input type="submit" value="投稿する" onClick="postMessage()"/>
  </form>


