<h1>チャットルーム</h1>

  <div id="target" class="box">
    <ul id="messages">
    </ul>
  </div> 
  <form>
      <label>投稿内容: <input type="text" data-behavior="chat_input">
            <input type="submit" value="投稿する" onClick="postMessage()"/>
      </label>
  </form>

<a href = 'http://localhost:3000/groups'>グループ一覧へ</a>




