/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
a.header:hover{
    background-color: transparent;
}
.header {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: left;
  }
  .btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #d6ffd6;
    font-size: 16px;
    color: #c1ffc1;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
  }
  .btn-border:hover {
    background-color: #c1ffc1;
    border-color: #d6ffd6;
    color: #000000;
  }
  hr {
    height: 1px;
    border: none;
    border-top: 3px #c1ffc1 solid;
  }
  .title {
      font-family: "Lucida Handwriting";
  }
  .question {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    padding-top: 40px;
  }
  a.question:hover{
    background-color: transparent;
}
