/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*タイトル*/
.title {
    font-family: "Lucida Handwriting";
}

/*ヘッダー*/
a.header:hover{
    background-color: transparent;
}
.header {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: left;
  }
  .btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #87cefa;
    font-size: 16px;
    color: #87cefa;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
  }
  .btn-border:hover {
    background-color: #87cefa;
    border-color: #87cefa;
    color: white;
  }

/*線*/
  hr {
    height: 1px;
    border: none;
    border-top: 3px #87cefa solid;
  }

/*Q&A*/
/*検索フォームの囲み*/
  .box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: gray;/*文字色*/
    background: azure;
    border: solid 3px #87cefa;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}

/*検索するボタン*/
.btn-flat-simple {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00bcd4;
    background: #ECECEC;
    transition: .4s;
  }
  
  .btn-flat-simple:hover {
    background: #87cefa;
    color: white;
  }
/*質問するボタン,グループを作るボタン*/
.container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
  }
  .btn-open {
    display: inline-block;
    width: 180px;
    height:50px;
    text-align: center;
    background-color: #87cefa;
    font-size: 16px;
    line-height: 52px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #87cefa;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .btn-open:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    background : #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;
    z-index: -1;
  }
  .btn-open:hover{
    color: #87cefa;
    background-color: #87cefa;
  }
  .btn-open:hover:after{
    height: 240%;
    opacity: 1;
  }
  .btn-open:active:after{
    height: 340%;
    opacity: 1;
  }  

/*詳細、編集、削除ボタン*/
  .btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    border: solid 2px #87cefa;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #87cefa;
    color: white;
  }

/*チャット*/
a.cp_btn {
	position: relative;
	display: block;
	width: 80px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: white;
	background: #58baf7;
	border:solid 1px #fff;
	overflow: hidden;
}
a.cp_btn:before {
	content:"";
	position: absolute;
	top: -25px;
	left: -20px;
	height:90px;
	width:20px;
	background : #fff;
	opacity: 0.3;
	transform: rotate(40deg);
	transition: 0.3s;
}
a.cp_btn:hover:before {
	left:98%;
}

/*見出し*/
.sample08{
  font-size: 1.2em;/* 文字の大きさ */
  font-weight: bold;/* 文字の太さ */
  color: #fff;/* 文字の色 */
  background: #87cefa;/* 背景色 */
  border-radius: 8px;/* 四隅の丸み */
  -webkit-border-radius: 8px;/* 四隅の丸みと同じ数字に */
  -moz-border-radius: 8px;/* 四隅の丸みと同じ数字に */
  position: relative;
  margin: 0 0 1.5em;
  padding: 0.4em 0.4em 0.4em 2em;
}
.sample08:before,
.sample08:after {
   content: "";
  position: absolute;
  display: block;
}
.sample08:before{
  top: -0.1em;
  left: 0.5em;
  width: 20px;
  height: 23px;
  padding: 5px 0 0 0;
  background: #58baf7;/* リボン部分の色 */
  text-align: center;
}
.sample08:after{
  top: 0.8em;
  left: 0.5em;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent #58baf7;/* リボンの切りっぱなし部分の色 */
}

/*テーブル*/
  table {
    border-collapse: collapse;
    width: 100%; 
  }

  table th{
    color: #58baf7;
    }

  table td{
    font-weight: bold;
    color: gray;
    text-align:  center;
  }

  table tr{
    max-width: 100%; 
    height: auto;
  }

/*マイページ*/
.text {
  color: #58baf7;
}

/*フォームの文字色*/
.form-text{
  color: gray
}

/*背景*/
body {
  background-color: azure;
}

/*画像ホバー*/
.img_wrap{
  border: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.img_wrap img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.img_wrap:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
  border: none;
}

.kome {
  font-size: 1.2em;
  text-align: center;
  color: gray;
}