<div class="sample08">
<h1>My Chat</h1>
</div>

<div class="header">
    <link rel="stylesheet" href="application.css" type="text/css">
    <h2><td><%= link_to 'My Note', mypage_mynote_path(@user.id), class: "btn-flat-border" %></td>
    <td><%= link_to 'My Chat', mypage_mychat_path(@user.id), class: "btn-flat-border" %></td>
    <td><%= link_to 'My Question', mypage_myquestion_path(@user.id), class: "btn-flat-border" %></td></h2>
</div>